/* --------------------------
   ROOT VARIABLES & GLOBALS
--------------------------- */
:root {
    --color-primary: #030a36;    
    /* --color-secondary: #e2b605; */
    --color-secondary: #C9B037;
    --color-dark: #181f2f;            
    --color-white: #ffffff;
    --color-gray: #f7f7fda6;
    --color-text: #444;
    --color-muted: #666;
    --color-hover: rgba(240, 240, 240, 0.137)
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-size: 17px;
    color: var(--color-text);
}

.bg-auth {
    background-image: url("../img/gallery/form_background.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-card {
    width: 100%;
    max-width: 480px;
    background: white;
    border-radius: .5rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.auth-header {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 1.5rem;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
    text-align: center;
}

.auth-footer {
    text-align: center;
    padding: 0.75rem;
    font-size: 0.9rem;
    color: #666;
    border-top: 1px solid #eee;
}

.company-name {
    font-family: 'Segoe UI', sans-serif;
    color: var(--color-secondary);
    /* font-style: italic; */
    font-weight: bold;
}

.slogan {
    color: var(--color-secondary);
    font-weight: bold;
    /* margin-bottom: 20px; */
}

/* --------------------------
   TOP BAR
--------------------------- */
.top-bar {
    background-color: var(--color-dark);
    color: var(--color-white);
    font-size: 15px;
    padding: 10px 0;
    border-bottom: 1px solid var(--color-secondary);
}

.top-bar .fa {
    color: var(--color-secondary);
}

.top-bar a,
.top-bar i {
    color: var(--color-white);
    transition: color 0.3s ease;
}


.top-bar a:hover,
.top-bar i:hover {
    color: var(--color-secondary);
}

.border-divider {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.logo-link img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.logo-link:hover img {
    transform: translateY(-5px);
}


.anphu-logo {
    height: 85px;
}

#save-status-btn {
    transition: all 0.3s ease;
}
#save-status-btn:hover {
    transform: scale(1.05);
}